@using MyCheeseShop.Model
@using MyCheeseShop.Components
@using MyCheeseShop.Context
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject CheeseProvider CheeseProvider
@inject ShoppingCart ShoppingCart
@inject ProtectedSessionStorage ProtectedSessionStore
@inject NavigationManager NavigationManager

<div class="card-group">
    <div class="card m-1" style="background-color:#D2B48C;">
        <img src="imgs/@Cheese.ImageUrl" class="card-img-top p-2" alt="@Cheese.Name" style="border-radius:15px;">
        <div class="card-body">
            <h5>

                @if (Cheese.Type == "Hard")
                {
                    <span class="badge custom-primary text-badges-dark-grey" style="margin-right: 5px;">@Cheese.Type</span>
                }
                else if (Cheese.Type == "Semi-hard")
                {
                    <span class="badge custom-semi-hard text-badges-dark-grey" style="margin-right: 5px;">@Cheese.Type</span>
                }
                else if (Cheese.Type == "Semi-soft")
                {
                    <span class="badge custom-success text-badges-dark-grey" style="margin-right: 5px;">@Cheese.Type</span>
                }
                else if (Cheese.Type == "Soft")
                {
                    <span class="badge custom-info text-badges-dark-grey" style="margin-right: 5px;">@Cheese.Type</span>
                }

                @if (Cheese.Strength == "Strong")
                {
                    <span class="badge custom-warning text-badges-dark-grey" style="margin-left: 5px;">@Cheese.Strength</span>
                }
                else if (Cheese.Strength == "Medium")
                {
                    <span class="badge custom-danger text-badges-dark-grey" style="margin-left: 5px;">@Cheese.Strength</span>
                }
                else if (Cheese.Strength == "Mild")
                {
                    <span class="badge custom-secondary text-badges-dark-grey" style="margin-left: 5px;">@Cheese.Strength</span>
                }

            </h5>
            <h5 class="card-title d-flex justify-content-between align-items-center">
                @Cheese.Name
                <span class="badge custom-price">@Cheese.Price</span>
            </h5>

            <p class="card-text">@Cheese.Description</p>

            <EditForm Model="quantity" OnSubmit="AddToCart">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <InputSelect class="form-select w-100" @bind-Value="quantity" required>
                            @for (var i = 1; i <= 5; i++)
                            {
                                <option value="@i">@(i * 100)g</option>
                            }
                        </InputSelect>
                    </div>
                    <div class="col-lg-6 col-12 mt-lg-0 mt-1">
                        <button class="custom-add-to-cart position-relative w-100">
                            Add to cart
                            @if (ShoppingCart.GetQuantity(Cheese) > 0)
                            {
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    @(ShoppingCart.GetQuantity(Cheese) * 100)g
                                    <span class="visually-hidden">@Cheese.Name in shopping cart</span>
                                </span>
                            }
                        </button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public Cheese Cheese { get; set; }

    private int quantity = 1;

    public async Task AddToCart()
    {
        ShoppingCart.AddItem(Cheese, quantity);
        await ProtectedSessionStore.SetAsync("cart", ShoppingCart.GetItems());
    }

}



